---
image:
  repository: ghcr.io/flaresolverr/flaresolverr
  # tag: "v3.1.0"

env:
  - name: TZ
    value: UTC
  ## See: https://github.com/FlareSolverr/FlareSolverr#environment-variables
  #  - name: LOG_LEVEL
  #  value: info
  #- name: LOG_HTML
  #  value: "false"
  #- name: CAPTCHA_SOLVER
  #  value: none
  #- name: BROWSER_TIMEOUT
  #  value: "40000"
  #- name: TEST_URL
  #  value: https://www.google.com

ingress:
  main:
    enabled: false

service:
  main:
    enabled: true
    ports:
      http:
        port: 8191

#resources:
  #requests:
  #  memory: 105Mi
  #limits:
  #  memory: 300Mi

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  fsGroupChangePolicy: "OnRootMismatch"

securityContext:
  runAsNonRoot: true
  privileged: false
  # FIXME: flaresolverr crashes if /app is not writeable
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
