---
image:
  repository: lib42/deluge
  #  tag: "2"

#podSecurityContext:
#  fsGroup: 1000

ingress:
  main:
    enabled: false
    #annotations:
    #  cert-manager.io/cluster-issuer: "vault-issuer"
    #  traefik.ingress.kubernetes.io/router.tls: 'true'
    #  nginx.ingress.kubernetes.io/proxy-body-size: 50m
    #hosts:
    #  - host: deluge.local
    #    paths:
    #      - path: /
    #        pathType: Prefix
    #tls:
    #  - secretName: deluge-tls
    #    hosts:
    #       - deluge.local

service:
  main:
    enabled: true
    ports:
      http:
        port: 8112

# User & Group ID
env:
  PUID: 1000
  GUID: 1000

persistence:
  config:
    enabled: false
    mountPath: /config
    size: 10M

  ## example used hostpath instead
  downloads:
    enabled: false
    type: hostPath
    hostPath: /data/torrent
    mountPath: /downloads

  # This will be used for deluge plugins:
  cache:
    enabled: false
    type: emptyDir
    mountPath: /home/deluge/.cache


## VPN
addons:
  vpn:
    enabled: false

    #env:
    #  VPN_SERVICE_PROVIDER: mullvad
    #  VPN_TYPE: openvpn

    #  DNS_KEEP_NAMESERVER: "on"
    # DOT: "on"
    # FIREWALL: "on"
    # FIREWALL_INPUT_PORTS: "8112,8000"
    # FIREWALL_VPN_INPUT_PORTS: 61086

    securityContext:
      capabilities:
        add:
          - NET_ADMIN

    livenessProbe:
      httpGet:
        path: /v1/openvpn/status
        port: 8000
      initialDelaySeconds: 30
      periodSeconds: 30
